<!DOCTYPE html>
<html>
  <head>
    <title>ro-selectoid example</title>
    <link rel="stylesheet" href="example.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="../dist/ro-selectoid.js"></script>
  </head>
  <body ng-controller="ExampleCtrl">

    <ro-selectoid ng-model="vm.selected" label="{{ vm.selected.name }}" ng-disabled="vm.disabled" placeholder="Nothing is selected...">

      <ro-selectoid-options for="items" display="$option.name" show-selected="false"></ro-selectoid-options>
    </ro-selectoid>

    <ro-selectoid label="Select an item..." ng-disabled="vm.disabled" placeholder="Select an item...">
      <ul>
        <li class="ro-selectoid-option" ng-repeat="item in items" value="item">{{ item.name }} ({{ item.value}})</li>
      </ul>
    </ro-selectoid>

    <script>
      angular.module('example', ['ro.selectoid']);
      angular.module('example')
        .controller('ExampleCtrl', ['$scope', function($scope) {

          $scope.items = [
            { value: 12, name: 'Some' },
            { value: 18, name: 'Test' },
            { value: 5, name: 'Items' }
          ];

          $scope.vm = {
            selected: null,
            disabled: false
          };

        }])
      angular.bootstrap(document.body, ['example'])
    </script>
  </body>
</html>
