body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.ro-selectoid {
  display: inline-block;
  position: relative;
  min-width: 258px;
  margin: 1em;
}

.ro-selectoid-trigger, .ro-selectoid-option {
  cursor: pointer;
}

.ro-selectoid-inner {
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid #556;
}
.ro-selectoid.open .ro-selectoid-inner {
  display: block;
}

.ro-selectoid-trigger {
  width: 100%;
  padding: 1em;
  font-size: 2em;
  background-color: #556;
  color: white;
}

.ro-selectoid-inner ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.ro-selectoid-option {
  width: 100%;
  padding: 1em;
  font-size: 2em;
}
.ro-selectoid-option:hover {
  background-color: rgba(0,0,10,0.05)
}
.ro-selectoid-option:active {
  background-color: rgba(0,0,10,0.1)
}
